/* toggle-button-styles.css */
#theme-toggle {
    background-color: #8e97a0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px; /* Round the corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    outline: none; /* Remove outline */
  }
  
  /* Hover background color for both buttons */
  .btn-secondary:hover,
  #theme-toggle:hover,
  .dropdown-toggle:hover {
      background-color: #0056b3; /* Hover background color */
  }
  /* Hover background color for GitHub button */
  .btn-primary:hover {
    background-color: #0056b3; /* Hover background color */
  }
  /* Default background color */
  .btn-secondary {
    background-color: #8e97a0; /* Default background color */
    color: #ffffff; /* Default text color */
  }
  /* Add additional styles to make the button more visually appealing */
  #theme-toggle::before {
    margin-right: 5px;
  }
  
  
  